.containerHeader {
    display: flex;
    flex: 1;
  
    align-items: center;
    justify-content: space-between;
  }
  
  .containerHeader aside {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  
    font-weight: bold;
  }
  
  .containerHeader aside:first-child {
    color: var(--blue);
  }
  
  .containerHeader aside:last-child {
    color: var(--purple);
  }
  
  .containerHeader aside p {
    font-size: 0.875rem;
  }
  
  .containerHeader aside span {
    padding: 2px 8px;
    border-radius: 16px;
  
    font-size: 0.75rem;
  
    color: var(--gray200);
    background-color: var(--gray400);
  }